@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<img class="img-responsive" src="~/images/SearchRecommendWebSite.svg" onerror="this.src='~/images/SearchRecommendWebSite.png'">
