@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div>
    <iframe height="400" src='https://webchat.botframework.com/embed/qnabotsearch?s=hcZ0W_rmEMg.cwA.NWE.lJ5K-o-93Yhn_wV4TVN6j3cmcjWSfgr9g8xAD84iccM'></iframe>
    @*<iframe  src='https://tspqnabotwithinsights.azurewebsites.net/api/messages?code=ikVkW0PAozS6lBPB27fLPkQNadv4uDzys0wG7akquaRnRMHVFU2C8Q=='></iframe>*@
</div>
